body{
	margin:0px;
	padding:0px;
	font-family:arial, sans-serif;
	font-size:12px;
	color: #ffffff;	
	background: #777777;  
}

h2{
	text-align: center;
}

#cv1 
{ 
	width: 800px; 
	height: 600px; 
	background-color: #999999; 
	margin: auto; 
	display: block; 
}

#przyciski{
	text-align: center; 
	margin: auto;
}


